.game-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-gap: 2px;
  place-items: center;
  width: 220px;
  height: 440px;
  background-color: khaki;
}

.game-board div {
  width: 20px;
  height: 20px;
}

/* tetrominoes */
.ltetromino {
  background-color: orange;
}

.ttetromino {
  background-color: teal;
}

.ztetromino {
  background-color: violet;
}

.otetromino {
  background-color: skyblue;
}

.itetromino {
  background-color: brown;
}