@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  box-sizing: border-box;
  background: url(../images/its_a_trap.jpg);
  background-size: cover;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.start-btn {
  font-family: 'Pacifico', cursive;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  background: none;
  border: none;
}

.start-btn:hover {
  cursor: pointer;
  color: red;
  transition: all 0.3s ease-out;
}

.start-btn:focus {
  outline: none;
}

/* main */
main {
  display: grid;
  grid-template-columns: 65px 1fr 65px;
  grid-gap: 2px;
  justify-items: center;
}


/* game board */
.game-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* grid-template-rows: repeat(20, 1fr); */
  grid-gap: 2px;
  place-items: center;
  width: 220px;
  height: 440px;
  background-color: rgba(30, 30, 30, 0.9);
  border: 3px solid rgba(128, 128, 128, 0.8);
  border-radius: 5px;
}

.game-board div {
  width: 20px;
  height: 20px;
}


/* up next display */
.up-next-display {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1px;
  place-items: center;
  width: 55px;
  height: 44px;
  background-color: rgba(30, 30, 30, 0.9);
  border: 3px solid rgba(128, 128, 128, 0.8);
  border-radius: 5px;
  margin: 20px auto;
}

.up-next-display div {
  width: 10px;
  height: 10px;
}


/* score board */
.score-board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(30, 30, 30, 0.9);
  border: 1px solid rgba(128, 128, 128, 0.8);
  border-radius: 5px;
  width: 220px;
  height: 30px;
  margin: 2px auto;
  color: white;
}

.score-board p {
  font-family: 'Pacifico', cursive;
  padding: 0 10px;
}


/* tetrominoes */
.ltetromino {
  background-color: orange;
  border-radius: 3px;
}

.ttetromino {
  background-color: teal;
  border-radius: 3px;
}

.ztetromino {
  background-color: violet;
  border-radius: 3px;
}

.otetromino {
  background-color: skyblue;
  border-radius: 3px;
}

.itetromino {
  background-color: brown;
  border-radius: 3px;
}


/* music control */
.music-control {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr);
  grid-gap: 1px; */
  place-items: center;
  width: 55px;
  height: 44px;
  background-color: rgba(30, 30, 30, 0.9);
  border: 3px solid rgba(128, 128, 128, 0.8);
  border-radius: 5px;
  margin: 20px auto;
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 0.7rem;
}

.music-control .control:hover {
  cursor: pointer;
}

.control-active {
  color: red;
}


@media only screen and (max-width: 900px) {
  body {
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position: center;
  }
}